<?xml version="1.0"?>
<!-- Copyright 2011-2016 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="parallel">
  <message>
    <entry key="AddHiddenKeyFailed">Failed to add key {0} to node {1}.</entry>
    <entry key="AddHiddenNodeFailed">Failed to add node {0} to node {1}.</entry>
    <entry key="AreKeysSetLevelFailed">Failed to determine if ''{0}'' key is set at {1} level on ''{2}'' node.</entry>
    <entry key="CannotConvertSchedulerTypeToApi1">Cluster type ''{0}'' cannot be converted.</entry>
    <entry key="CannotRenameNode">Renaming the ''{0}'' {1} is not allowed.</entry>
    <entry key="CannotSetDefaultProfile">Cannot set the DefaultProfile to {0} because a profile with name ''{1}'' does not exist.  Valid profile names are:\n\t{2}</entry>
    <entry key="CollapsedDefaultProfileNoLongerExists">The value of DefaultProfile is ''{0}'' which is not the name of an existing profile.  Setting the DefaultProfile to ''{1}'' at the user level.  Valid profile names are:\n\t{2}</entry>
    <entry key="ConfigurationsCreateNewFileDoesNotExist">Cannot create a new configuration from ''{0}'' because the file does not exist.</entry>
    <entry key="ConfigurationsLoadFailed">Failed to load configuration from the file ''{0}''.</entry>
    <entry key="ConfigurationsLoadFailedUpgrade">Failed to import configuration from the file ''{0}'' due to an upgrade error.</entry>
    <entry key="ConfigurationsLoadMissingName">Could not find the configuration name when importing from the file: {0}.</entry>
    <entry key="ConfigurationsLoadMissingValues">Could not find the configuration values when importing from the file: {0}.</entry>
    <entry key="ConfigurationsLoadMissingVersion">Could not find any version information when importing configuration from the file: {0}.</entry>
    <entry key="ConfigurationsStructUpgradeFailed">Failed to upgrade configuration from version {0} to {1}.</entry>
    <entry key="ConfigurationsUpgradeNewerVersion">Attempting to use version {0} of Parallel Computing Toolbox to load a configuration that was created with version {1} of the product.</entry>
    <entry key="ConfigurationsUpgradeUnknownVersionNumber">Attempting to use version {0} of Parallel Computing Toolbox to load a configuration that contains an unknown version number of {1,number,integer}.  You might be trying to load a configuration from a newer version of the product.</entry>
    <entry key="CopyCollapsedNodeFailed">Failed to copy collapsed values from ''{0}'' node to the user level ''{1}'' node.</entry>
    <entry key="CopyUserNodeFailed">Failed to copy the user level from ''{0}'' node to ''{1}'' node.</entry>
    <entry key="CopyWorkgroupNodeFailed">Failed to copy the workgroup level from ''{0}'' node to ''{1}'' node.  You might not have write access to the workgroup settings.</entry>
    <entry key="CreateSiblingNodeFailed">Failed to create sibling node ''{0}'' for node ''{1}''.</entry>
    <entry key="DefaultProfileIsDefaultValue">The value of DefaultProfile is parallel.setting.DefaultValue which is not a valid profile name.  This indicates that your installation might be corrupt.  Setting the DefaultProfile to ''{0}'' at the user level.  Valid profile names are:\n\t{1}</entry>
    <entry key="DefaultProfileObjectNotFound">Failed to find the profile with name ''{0}''.</entry>
    <entry key="DeleteNamedNodesNameNotString">Names must be specified as character vectors.</entry>
    <entry key="DeleteNodeHasFactoryValues">Cannot delete ''{0}'' because it has values defined at the factory level.</entry>
    <entry key="DeployedNodesTransientCollectionNotEmpty">The transient collection already contained some nodes.</entry>
    <entry key="DifferentJobParallelJobValuesInConfiguration">The value for the {0} property is different for the job and paralleljob sections of configuration with name ''{1}''.  The values for the paralleljob section will be ignored during the conversion to a profile.</entry>
    <entry key="ExportNoFilename">Cannot export to ''{0}'' because no filename was specified.</entry>
    <entry key="ExportProfileNamesMustBeString">Profile names must be specified as character vectors.</entry>
    <entry key="FailedRestoreKeyValuesOnNode">Key values that were changed could not be restored.</entry>
    <entry key="FailedRestoreNodeRemoveKeys">Child keys that were added could not be removed.</entry>
    <entry key="FailedRestoreNodeRemoveNodes">Child nodes that were added could not be removed.</entry>
    <entry key="FailedToAddMcrUserDataProfile">Failed to import and use the profiles specified in file ''{0}''.</entry>
    <entry key="FailedToChangeName">Failed to change the name of ''{0}'' to ''{1}''.</entry>
    <entry key="FailedToDeleteSettingsNode">Failed to delete node ''{0}''.</entry>
    <entry key="GetAtLevelFailed">Failed to get {0} at the {1} level.</entry>
    <entry key="GetKeyOnLevelFailed">Failed to get ''{0}'' key at {1} level on ''{2}'' node.</entry>
    <entry key="GetSetActionLevelNotString">Level must be a character vector when calling {0}.</entry>
    <entry key="GetSetActionNotAllowedForProperty">''{0}'' is not allowed for the following properties for objects of type {1}:\n\t{2}</entry>
    <entry key="GetSetActionWithLevelNotAllowedForProperty">''{0}'' with a level is not allowed for the ''{1}'' property of objects of type {2}.</entry>
    <entry key="GetSetActionWithLevelPropNotString">Property name must be a character vector when calling {0} with a level.</entry>
    <entry key="GetSetFailedToConvertStoredSettingToValue">Failed to convert value stored in Settings for property {0} to a {1}.</entry>
    <entry key="GetSetFailedToConvertValueForStorage">Failed to convert value of type {0} for property {1} for storage in Settings.</entry>
    <entry key="GetSetNodeNotValid">The Settings node for the ''{0}'' {1} is not valid and might have been deleted.</entry>
    <entry key="GetSetVectorizedActionWithLevelNotAllowed">Vectorized ''{0}'' with a level is not allowed for objects of type {1}.</entry>
    <entry key="ImportConfigurationButNotUsingProfiles">Cannot import configuration from file {0} because useprofiles is not true in pctconfig.</entry>
    <entry key="ImportConfigurationNameChangedNotVarName">The configuration name ''{0}'' was changed to ''{1}'' during conversion to a profile because ''{2}'' is not a valid MATLAB variable name.</entry>
    <entry key="ImportMcruserdataMultipleProfiles">More than 1 profile was imported from file ''{0}''.  Setting ''{1}'' to be the default.</entry>
    <entry key="ImportMcruserdataProfileNamesChanged">The following imported profile names were changed during the import of file {0} so as not to conflict with existing profiles that already have those names:\n{1}\nThe default profile has been set to ''{2}''.</entry>
    <entry key="ImportProfileFailedToAddProfiles">Failed to add the profiles defined in the ''{0}''.</entry>
    <entry key="ImportProfileFailedToAddProjectComponents">Failed to add the project components defined in file ''{0}''.</entry>
    <entry key="ImportProfileFailedToAddSchedulerComponents">Failed to add the scheduler components defined in file ''{0}''.</entry>
    <entry key="ImportProfileFailedToImportSettings">Failed to import profiles from file ''{0}''.</entry>
    <entry key="ImportProfileFailedToRemove">Import of profiles failed, but objects of type ''{0}'' that were imported could not be removed.</entry>
    <entry key="ImportProfileInvalidFilename">Failed to locate file ''{0}''.</entry>
    <entry key="ImportProfileNoProfilesInFile">No profiles or components were found in file ''{0}''.</entry>
    <entry key="InvalidDeleteSyntax">Invalid syntax. Use "delete(obj)" to delete a profile or component.</entry>
    <entry key="InvalidMinMaxWorkerValuesInConfiguration">The values for MinimumNumberOfWorkers ({0,number,integer}) and MaximumNumberOfWorkers ({1,number,integer}) in configuration with name ''{2}'' are not compatible with NumWorkersRange in a profile.  These values will be ignored during the conversion to a profile.</entry>
    <entry key="InvalidNamedNodeType">''{0}'' is not a valid type.  Valid types are: {1}</entry>
    <entry key="InvalidSettingsLevel">An invalid settings level was specified.</entry>
    <entry key="KeyNotExist">''{0}'' key does not exist on ''{1}'' node.</entry>
    <entry key="LocalProfileNotFound">The {0} profile cannot be found.  Your installation might be corrupt.</entry>
    <entry key="MATLABParallelCloudProfileExists">Cannot create ''MATLAB Parallel Cloud'' profile because a profile called ''MATLAB Parallel Cloud'' already exists.  Delete or rename your existing ''MATLAB Parallel Cloud'' profile.</entry>   
    <entry key="MissingFieldInConfigurationStructure">Supplied structure is not a valid configurations structure because the ''{0}'' field is missing.</entry>
    <entry key="MoveNodeHasFactoryValues">Cannot move the ''{0}'' node because it has values defined at the factory level.</entry>
    <entry key="MpiexecDeprecatedNotImporting">"Support for mpiexec type clusters has been removed.  No mpiexec profiles will be imported from {0}.</entry>
    <entry key="MultipleNamedNodesCannotExport">Exporting the following {0} is not allowed:{1}</entry>
    <entry key="NameOfDefaultProfileChanged">The DefaultProfile has been changed from ''{0}'' to ''{1}'' because the name of the ''{2}'' profile was changed to ''{3}''.</entry>
    <entry key="NamedNodeCannotDuplicate">Duplicating the ''{0}'' {1} is not allowed.</entry>
    <entry key="NamedNodeCannotExport">Exporting the ''{0}'' {1} is not allowed.</entry>
    <entry key="NamedNodeFailedToRestore">Failed to restore node ''{0}''.</entry>
    <entry key="NamedNodeNameNotVarName">Name must be a character vector that is a valid variable name.</entry>
    <entry key="NamedNodeRestoreInvalidLevel">Cannot generate a restore point for a level that cannot be used for both get and set.</entry>
    <entry key="NamedNodeRestoreInvalidStruct">Invalid structure supplied for restoring node.</entry>
    <entry key="NamedNodesBuildNewFailed">Failed to create {0} with name ''{1}''.</entry>
    <entry key="NamedNodesCollectionAddFromSame">Cannot add named nodes from the same collection.</entry>
    <entry key="NamedNodesCollectionAddFromSameSettingsNode">Cannot add named nodes from a collection with the same top level settings node.</entry>
    <entry key="NamedNodesCollectionAddFromWrongType">Cannot add named nodes of type ''{0}'' to a collection of type ''{1}''.</entry>
    <entry key="NamedNodesCollectionAddUsedNames">Names must be a cell array of character vectors.</entry>
    <entry key="NamedNodesDeletedInvalidChild">The child with name ''{0}'' under the {1} node was not a valid {2} and was deleted.</entry>
    <entry key="NamedNodesDeletedInvalidChildren">Deleted the following invalid children under the {0} node: \n\t{1}</entry>
    <entry key="NamedNodesFailedToRemoveInvalidChildren">Failed to remove the following invalid children under the {0} node: \n\t{1}</entry>
    <entry key="NamedNodesMergeSettingsFailed">Failed to merge settings for node ''{0}''.</entry>
    <entry key="NoDisplayAvailable">Unable to display an object of type ''{0}''.</entry>
    <entry key="NoRegisteredProfileValidator">Cannot perform profile validation when no validator is registered.</entry>
    <entry key="NodeAndParentNotValid">Node and parent node must be valid.</entry>
    <entry key="NodeFacadeCopyAllLevelsHasFactoryValues">Cannot copy node ''{0}'' at all levels because some values are defined in the factory settings.</entry>
    <entry key="NodeNotValid">Node ''{0}'' is not valid or does not exist.</entry>
    <entry key="NonExistentProfile">''{0}'' is not the name of a profile.  Valid names are: \n{1}</entry>
    <entry key="ParentNodeInvalid">Parent node is not valid and might have been removed from Settings tree.</entry>
    <entry key="ProfileCannotChangeSchedulerComponent">Setting the ''SchedulerComponent'' property of profile with name ''{0}'' is not allowed.</entry>
    <entry key="ProfileCannotFindProjectComponent">The ProjectComponent in the ''{0}'' profile is ''{1}'' and does not exist.</entry>
    <entry key="ProfileCannotFindSchedulerComponent">The SchedulerComponent in the ''{0}'' profile is ''{1}'' and does not exist.</entry>
    <entry key="ProfileNameAlreadyExists">A profile with name ''{0}'' already exists.</entry>
    <entry key="ProfileSchedulerComponentNotDefined">The ''{0}'' profile does not define a SchedulerComponent.</entry>
    <entry key="ProfileValidationInvalidJobVariant">Job type ''{0}'' is not supported for iCreateAndSubmitJob.</entry>
    <entry key="ProfilesConfigCreateFromFileNotMat">Filename extension must be .mat when importing a configuration as a profile.</entry>
    <entry key="ProjectComponentNameAlreadyExists">A project component with name ''{0}'' already exists.</entry>
    <entry key="RenameConfigurationNameAlreadyInUse">Cannot rename configuration with name ''{0}'' to ''{1}'' because the name ''{2}'' is already in use.</entry>
    <entry key="SaveUserToLevelFailed">Failed to save ''{0}'' node to {1} level.</entry>
    <entry key="SchedulerComponentNameAlreadyExists">A scheduler component with name ''{0}'' already exists.</entry>
    <entry key="SetAtLevelFailed">Failed to set {0} at the {1} level.</entry>
    <entry key="SetKeyOnLevelFailed">Failed to set ''{0}'' key at {1} level on ''{2}'' node.</entry>
    <entry key="SettingsLevelCannotCallIsSet">Cannot call isSet at settings level ''{0}''.</entry>
    <entry key="SettingsLevelFromNameCollapsed">Collapsed is not a valid settings level.</entry>
    <entry key="SettingsLevelNotReadable">Cannot get from settings level ''{0}''.</entry>
    <entry key="SettingsLevelNotWritable">Cannot write to settings level ''{0}''.</entry>
    <entry key="SettingsNodeExportCannotMakeFolder">Failed to create folder ''{0}''.</entry>
    <entry key="TypedNodesAddFailedToDelete">Adding nodes to the collection failed and nodes that were added could not be removed.</entry>
    <entry key="TypedNodesCollectionAddDifferentTypes">Cannot add nodes from a collection with different types.</entry>
    <entry key="TypedNodesCollectionAddFromSame">Cannot add typed nodes from the same collection.</entry>
    <entry key="TypedNodesCollections">Types must be specified as character vectors.</entry>
    <entry key="UnsetKeyOnLevelFailed">Failed to unset ''{0}'' key at {1} level on ''{2}'' node.</entry>
    <entry key="UnsetNodeFailed">Failed to unset ''{0}'' node at {1} level.</entry>
    <entry key="UpgradeConfigurationsFailedToChangeDefault">Failed to change default profile to {0} during upgrade from configurations to profiles.  Reason:\n\t{1}</entry>
    <entry key="UpgradeConfigurationsNamesChanged">The following configuration names were changed during the upgrade to profiles:\n{0}</entry>
    <entry key="UpgradeConfigurationsNamesChangedNotVarName">The following configuration names were changed during the upgrade to profiles:\n{0}Profile names must be valid MATLAB variable names.  See the documentation for isvarname for more information.</entry>
    <entry key="UpgradeConfigurationsToProfilesFailed">Failed to upgrade the following configurations to profiles:\n\t{0}</entry>
    <entry key="UpgradeConfigurationsUnexpectedError">An unexpected error occurred when upgrading configurations to profiles.  Original error: {0}</entry>
    <entry key="UserDefaultProfileNoLongerExists">The value of DefaultProfile at the user level is ''{0}'' which is not the name of an existing profile.  Setting the DefaultProfile to ''{1}'' at the user level.  Valid profile names are:\n\t{2}</entry>
    <entry key="ValidationEventDataDebugLogNotString">Debug logs must be specified as character vectors.</entry>
  </message>
</rsccat>
